
body{
	font-family: "Junction",Helvetica,Arial,sans-serif;
	/*background: #6f5499;*/
	background-image: url('../imageassets/darkwood.jpg');
}

.btn{
	border-radius: 0px;
}

.topmenu{
	margin-top: 180px;
	
}

#left-side{
	color: #fff;
}

#right-side{
	background: #fff;
	padding: 0px;
	height: auto;
}

h4{
	padding: 10px 10px 0px 10px;
}

.inp{
	margin: 0px;
}

.pad{
	margin-bottom: 10px;
	margin-top: 10px;
}


.login-form{
	background: #BECDD1;
	border-radius: 0px;
	height: auto;
	padding: 10px;
}

.homepage{
	color: #fff;
}

.homepage h3{
	margin-bottom: 30px;
}

input[type=text],input[type="password"], .btn{
	border-radius: 0px;
}
